<h1>Circle of life</h1>

<div>
  <svg height="600" width="600">
    <circle cx="300" cy="300" r="40" stroke="gray" stroke-width="1" fill="transparent" />
    <circle cx="300" cy="300" r="60" stroke="gray" stroke-width="1" fill="transparent" />
    <circle cx="300" cy="300" r="80" stroke="gray" stroke-width="1" fill="transparent" />
    <circle cx="300" cy="300" r="100" stroke="gray" stroke-width="1" fill="transparent" />
    <circle cx="300" cy="300" r="120" stroke="gray" stroke-width="1" fill="transparent" />
    <circle cx="300" cy="300" r="140" stroke="gray" stroke-width="1" fill="transparent" />
    <circle cx="300" cy="300" r="160" stroke="gray" stroke-width="1" fill="transparent" />
    <circle cx="300" cy="300" r="180" stroke="gray" stroke-width="1" fill="transparent" />
    <circle cx="300" cy="300" r="200" stroke="gray" stroke-width="1" fill="transparent" />
    <circle cx="300" cy="300" r="220" stroke="gray" stroke-width="1" fill="transparent" />
  </svg>
</div>
